In [1]:
# Importing necessary libraries
import pandas as pd
import sqlite3

# Connect to the SQLite database
database_path = 'nba_salary.sqlite'  # Replace with your file path if needed
conn = sqlite3.connect(database_path)

# Function to preview data from a table
def preview_table(connection, table_name, limit=5):
    query = f"SELECT * FROM {table_name} LIMIT {limit};"
    return pd.read_sql_query(query, connection)

# Fetch and preview table names
def get_table_names(connection):
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    return pd.read_sql_query(query, connection)

print("Tables in the database:")
print(get_table_names(conn))

# Preview data from the tables
nba_salary_preview = preview_table(conn, "NBA_season1718_salary")
season_stats_preview = preview_table(conn, "Seasons_Stats")

print("NBA Salary Table Preview:")
print(nba_salary_preview.head())

print("Season Stats Table Preview:")
print(season_stats_preview.head())

# Perform analysis: Join salary and performance data
query = """
SELECT 
    salary.Player,
    salary.Tm AS Team,
    salary.season17_18 AS Salary,
    stats.PER,
    stats.PTS,
    stats.WS,
    stats.Age,
    stats.Pos
FROM 
    NBA_season1718_salary AS salary
JOIN 
    Seasons_Stats AS stats
ON 
    salary.Player = stats.Player
WHERE 
    stats.Year = 2017
ORDER BY 
    Salary DESC;
"""
analysis_result = pd.read_sql_query(query, conn)

# Display the analysis results
print("Analysis: Salary vs. Performance")
print(analysis_result)

# Close the database connection
conn.close()

Tables in the database:
                    name
0  NBA_season1718_salary
1          Seasons_Stats
NBA Salary Table Preview:
    X1          Player   Tm  season17_18
0  1.0   Stephen Curry  GSW   34682550.0
1  2.0    LeBron James  CLE   33285709.0
2  3.0    Paul Millsap  DEN   31269231.0
3  4.0  Gordon Hayward  BOS   29727900.0
4  5.0   Blake Griffin  DET   29512900.0
Season Stats Table Preview:
    X1    Year           Player  Pos   Age   Tm     G    GS    MP   PER  ...  \
0  0.0  1950.0  Curly Armstrong  G-F  31.0  FTW  63.0  None  None  None  ...
1  1.0  1950.0     Cliff Barker   SG  29.0  INO  49.0  None  None  None  ...
2  2.0  1950.0    Leo Barnhorst   SF  25.0  CHS  67.0  None  None  None  ...
3  3.0  1950.0       Ed Bartels    F  24.0  TOT  15.0  None  None  None  ...
4  4.0  1950.0       Ed Bartels    F  24.0  DNN  13.0  None  None  None  ...

     FT%   ORB   DRB   TRB    AST   STL   BLK   TOV     PF    PTS
0  0.705  None  None  None  176.0  None  None  None  217.0  458.0
1  0.708  None  None  None  109.0  None  None  None   99.0  279.0
2  0.698  None  None  None  140.0  None  None  None  192.0  438.0
3  0.559  None  None  None   20.0  None  None  None   29.0   63.0
4  0.548  None  None  None   20.0  None  None  None   27.0   59.0

[5 rows x 53 columns]
Analysis: Salary vs. Performance
             Player Team      Salary   PER     PTS    WS   Age Pos
0     Stephen Curry  GSW  34682550.0  24.6  1999.0  12.6  28.0  PG
1      LeBron James  CLE  33285709.0  27.0  1954.0  12.9  32.0  SF
2      Paul Millsap  DEN  31269231.0  17.8  1246.0   6.4  31.0  PF
3    Gordon Hayward  BOS  29727900.0  22.2  1601.0  10.4  26.0  SF
4     Blake Griffin  DET  29512900.0  22.7  1316.0   7.7  27.0  PF
..              ...  ...         ...   ...     ...   ...   ...  ..
547    Axel Toupane  NOP     25000.0  -9.9     0.0   0.0  24.0  SF
548    Axel Toupane  NOP     25000.0   8.6    11.0   0.1  24.0  SF
549      Beno Udrih  DET     25000.0  16.1   227.0   1.3  34.0  PG
550   Joel Bolomboy  MIL     22248.0  19.7    22.0   0.2  23.0  PF
551    Jarell Eddie  CHI     17224.0   9.7    24.0   0.1  25.0  SF

[552 rows x 8 columns]

In [ ]:
query = "SELECT * FROM Observation LIMIT 5;"
pd.read_sql(query, conn)